

.path-0 {
  animation: pathAnim-0 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes pathAnim-0 {
  0% {
    d: path(
      "M 0,700 L 0,131 C 69.05983063328424,145.19145802650957 138.11966126656847,159.38291605301916 203,169 C 267.88033873343153,178.61708394698084 328.58118556701027,183.659793814433 389,161 C 449.41881443298973,138.340206185567 509.5555964653903,87.9779086892489 559,91 C 608.4444035346097,94.0220913107511 647.1964285714286,150.42857142857142 693,179 C 738.8035714285714,207.57142857142858 791.6586892488954,208.30780559646539 869,180 C 946.3413107511046,151.69219440353461 1048.1688144329898,94.340206185567 1113,96 C 1177.8311855670102,97.659793814433 1205.6660530191457,158.3313696612666 1254,174 C 1302.3339469808543,189.6686303387334 1371.1669734904272,160.3343151693667 1440,131 L 1440,700 L 0,700 Z"
    );
  }
  25% {
    d: path(
      "M 0,700 L 0,131 C 42.82308541973491,141.8234536082474 85.64617083946982,152.64690721649484 158,138 C 230.35382916053018,123.35309278350516 332.23840206185565,83.23582474226804 390,77 C 447.76159793814435,70.76417525773196 461.40022091310755,98.40979381443299 517,118 C 572.5997790868925,137.590206185567 670.1607142857142,149.125 737,143 C 803.8392857142858,136.875 839.9569219440352,113.09020618556701 892,122 C 944.0430780559648,130.909793814433 1012.0115979381444,172.51417525773195 1084,176 C 1155.9884020618556,179.48582474226805 1231.9966863033874,144.85309278350513 1292,131 C 1352.0033136966126,117.14690721649485 1396.0016568483063,124.07345360824743 1440,131 L 1440,700 L 0,700 Z"
    );
  }
  50% {
    d: path(
      "M 0,700 L 0,131 C 50.04455081001473,145.41310751104567 100.08910162002945,159.8262150220913 163,175 C 225.91089837997055,190.1737849779087 301.68814432989694,206.10824742268042 361,193 C 420.31185567010306,179.89175257731958 463.15832106038283,137.74079528718704 523,119 C 582.8416789396172,100.25920471281297 659.6785714285716,104.92857142857143 718,93 C 776.3214285714284,81.07142857142857 816.1273932253312,52.54491899852724 877,68 C 937.8726067746688,83.45508100147276 1019.8118556701033,142.8917525773196 1088,155 C 1156.1881443298967,167.1082474226804 1210.6251840942562,131.8880706921944 1267,120 C 1323.3748159057438,108.11192930780561 1381.687407952872,119.5559646539028 1440,131 L 1440,700 L 0,700 Z"
    );
  }
  75% {
    d: path(
      "M 0,700 L 0,131 C 59.84112665684832,106.40905743740795 119.68225331369663,81.8181148748159 175,92 C 230.31774668630337,102.1818851251841 281.1121134020618,147.13659793814435 335,172 C 388.8878865979382,196.86340206185565 445.869293078056,201.6354933726068 511,193 C 576.130706921944,184.3645066273932 649.4107142857142,162.32142857142856 714,143 C 778.5892857142858,123.67857142857144 834.487849779087,107.07879234167895 893,103 C 951.512150220913,98.92120765832105 1012.6378865979382,107.36340206185565 1082,114 C 1151.3621134020618,120.63659793814435 1228.9606038291606,125.4675994108984 1290,128 C 1351.0393961708394,130.5324005891016 1395.5196980854198,130.7662002945508 1440,131 L 1440,700 L 0,700 Z"
    );
  }
  100% {
    d: path(
      "M 0,700 L 0,131 C 69.05983063328424,145.19145802650957 138.11966126656847,159.38291605301916 203,169 C 267.88033873343153,178.61708394698084 328.58118556701027,183.659793814433 389,161 C 449.41881443298973,138.340206185567 509.5555964653903,87.9779086892489 559,91 C 608.4444035346097,94.0220913107511 647.1964285714286,150.42857142857142 693,179 C 738.8035714285714,207.57142857142858 791.6586892488954,208.30780559646539 869,180 C 946.3413107511046,151.69219440353461 1048.1688144329898,94.340206185567 1113,96 C 1177.8311855670102,97.659793814433 1205.6660530191457,158.3313696612666 1254,174 C 1302.3339469808543,189.6686303387334 1371.1669734904272,160.3343151693667 1440,131 L 1440,700 L 0,700 Z"
    );
  }
}

.path-1 {
  animation: pathAnim-1 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes pathAnim-1 {
  0% {
    d: path(
      "M 0,700 L 0,306 C 57.4114506627393,295.2216494845361 114.8229013254786,284.4432989690722 179,298 C 243.1770986745214,311.5567010309278 314.11984536082485,349.4484536082474 364,363 C 413.88015463917515,376.5515463917526 442.6977172312223,365.7628865979381 508,346 C 573.3022827687777,326.2371134020619 675.0892857142858,297.5 747,297 C 818.9107142857142,296.5 860.9451399116347,324.2371134020619 914,344 C 967.0548600883653,363.7628865979381 1031.130154639175,375.55154639175254 1095,352 C 1158.869845360825,328.44845360824746 1222.534241531664,269.55670103092785 1280,256 C 1337.465758468336,242.44329896907215 1388.732879234168,274.2216494845361 1440,306 L 1440,700 L 0,700 Z"
    );
  }
  25% {
    d: path(
      "M 0,700 L 0,306 C 46.72146539027983,300.7831369661267 93.44293078055966,295.56627393225335 164,295 C 234.55706921944034,294.43372606774665 328.9497422680412,298.5180412371134 389,285 C 449.0502577319588,271.4819587628866 474.7581001472754,240.36156111929307 524,253 C 573.2418998527246,265.63843888070693 646.0178571428571,322.03571428571433 718,336 C 789.9821428571429,349.96428571428567 861.1704712812962,321.49558173784976 927,294 C 992.8295287187038,266.50441826215024 1053.3002577319587,239.98195876288662 1101,255 C 1148.6997422680413,270.0180412371134 1183.628497790869,326.5765832106038 1238,342 C 1292.371502209131,357.4234167893962 1366.1857511045655,331.7117083946981 1440,306 L 1440,700 L 0,700 Z"
    );
  }
  50% {
    d: path(
      "M 0,700 L 0,306 C 45.990979381443296,277.03681885125184 91.98195876288659,248.07363770250367 149,244 C 206.0180412371134,239.92636229749633 274.06314432989694,260.74226804123714 339,270 C 403.93685567010306,279.25773195876286 465.76546391752584,276.9572901325479 522,288 C 578.2345360824742,299.0427098674521 628.875,323.4285714285714 697,320 C 765.125,316.5714285714286 850.7345360824744,285.32842415316645 912,272 C 973.2654639175256,258.67157584683355 1010.1868556701031,263.25773195876286 1068,273 C 1125.8131443298969,282.74226804123714 1204.5180412371135,297.64064801178205 1270,304 C 1335.4819587628865,310.35935198821795 1387.7409793814431,308.17967599410895 1440,306 L 1440,700 L 0,700 Z"
    );
  }
  75% {
    d: path(
      "M 0,700 L 0,306 C 69.53276877761414,296.79896907216494 139.06553755522827,287.5979381443299 192,269 C 244.93446244477173,250.4020618556701 281.2706185567011,222.40721649484533 348,244 C 414.7293814432989,265.59278350515467 511.8519882179677,336.7731958762887 570,355 C 628.1480117820323,373.2268041237113 647.3214285714286,338.5 695,313 C 742.6785714285714,287.5 818.8622974963181,271.22680412371136 894,279 C 969.1377025036819,286.77319587628864 1043.229381443299,318.5927835051546 1095,324 C 1146.770618556701,329.4072164948454 1176.2201767304862,308.40206185567007 1230,301 C 1283.7798232695138,293.59793814432993 1361.889911634757,299.79896907216494 1440,306 L 1440,700 L 0,700 Z"
    );
  }
  100% {
    d: path(
      "M 0,700 L 0,306 C 57.4114506627393,295.2216494845361 114.8229013254786,284.4432989690722 179,298 C 243.1770986745214,311.5567010309278 314.11984536082485,349.4484536082474 364,363 C 413.88015463917515,376.5515463917526 442.6977172312223,365.7628865979381 508,346 C 573.3022827687777,326.2371134020619 675.0892857142858,297.5 747,297 C 818.9107142857142,296.5 860.9451399116347,324.2371134020619 914,344 C 967.0548600883653,363.7628865979381 1031.130154639175,375.55154639175254 1095,352 C 1158.869845360825,328.44845360824746 1222.534241531664,269.55670103092785 1280,256 C 1337.465758468336,242.44329896907215 1388.732879234168,274.2216494845361 1440,306 L 1440,700 L 0,700 Z"
    );
  }
}

.path-2 {
  animation: pathAnim-2 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes pathAnim-2 {
  0% {
    d: path(
      "M 0,700 L 0,481 C 61.87997054491899,490.8276877761414 123.75994108983798,500.65537555228275 192,502 C 260.240058910162,503.34462444771725 334.840206185567,496.2061855670104 389,509 C 443.159793814433,521.7938144329896 476.87923416789386,554.519882179676 535,538 C 593.1207658321061,521.480117820324 675.6428571428572,455.7142857142858 738,433 C 800.3571428571428,410.2857142857142 842.5493372606775,430.6229749631812 904,453 C 965.4506627393225,475.3770250368188 1046.1597938144328,499.79381443298973 1109,518 C 1171.8402061855672,536.2061855670103 1216.8114874815906,548.2017673048601 1269,541 C 1321.1885125184094,533.7982326951399 1380.5942562592047,507.39911634756993 1440,481 L 1440,700 L 0,700 Z"
    );
  }
  25% {
    d: path(
      "M 0,700 L 0,481 C 38.710419734904264,481.35898379970547 77.42083946980853,481.7179675994109 149,483 C 220.57916053019147,484.2820324005891 325.0270618556701,486.4871134020618 393,494 C 460.9729381443299,501.5128865979382 492.470913107511,514.3335787923418 548,513 C 603.529086892489,511.66642120765823 683.0892857142858,496.1785714285714 733,488 C 782.9107142857142,479.8214285714286 803.171944035346,478.9521354933726 866,471 C 928.828055964654,463.0478645066274 1034.22293814433,448.0128865979382 1098,455 C 1161.77706185567,461.9871134020618 1183.9363033873344,490.99631811487484 1234,499 C 1284.0636966126656,507.00368188512516 1362.031848306333,494.0018409425626 1440,481 L 1440,700 L 0,700 Z"
    );
  }
  50% {
    d: path(
      "M 0,700 L 0,481 C 54.15537555228278,455.9178939617084 108.31075110456555,430.8357879234168 167,432 C 225.68924889543445,433.1642120765832 288.9123711340206,460.5747422680413 357,457 C 425.0876288659794,453.4252577319587 498.0397643593519,418.8652430044183 551,423 C 603.9602356406481,427.1347569955817 636.9285714285714,469.9642857142858 692,490 C 747.0714285714286,510.0357142857142 824.2459499263622,507.2776141384388 896,507 C 967.7540500736378,506.7223858615612 1034.0876288659797,508.9252577319587 1096,518 C 1157.9123711340203,527.0747422680413 1215.40353460972,543.0213549337261 1272,538 C 1328.59646539028,532.9786450662739 1384.29823269514,506.98932253313694 1440,481 L 1440,700 L 0,700 Z"
    );
  }
  75% {
    d: path(
      "M 0,700 L 0,481 C 73.37205449189985,461.18980117820325 146.7441089837997,441.3796023564065 198,449 C 249.2558910162003,456.6203976435935 278.39561855670104,491.6713917525773 339,507 C 399.60438144329896,522.3286082474227 491.67341678939624,517.9348306332843 562,519 C 632.3265832106038,520.0651693667157 680.9107142857142,526.5892857142857 727,524 C 773.0892857142858,521.4107142857143 816.6837260677466,509.70802650957296 871,505 C 925.3162739322534,500.29197349042704 990.354381443299,502.5786082474227 1056,511 C 1121.645618556701,519.4213917525773 1187.8987481590573,533.9775405007364 1252,530 C 1316.1012518409427,526.0224594992636 1378.0506259204712,503.5112297496318 1440,481 L 1440,700 L 0,700 Z"
    );
  }
  100% {
    d: path(
      "M 0,700 L 0,481 C 61.87997054491899,490.8276877761414 123.75994108983798,500.65537555228275 192,502 C 260.240058910162,503.34462444771725 334.840206185567,496.2061855670104 389,509 C 443.159793814433,521.7938144329896 476.87923416789386,554.519882179676 535,538 C 593.1207658321061,521.480117820324 675.6428571428572,455.7142857142858 738,433 C 800.3571428571428,410.2857142857142 842.5493372606775,430.6229749631812 904,453 C 965.4506627393225,475.3770250368188 1046.1597938144328,499.79381443298973 1109,518 C 1171.8402061855672,536.2061855670103 1216.8114874815906,548.2017673048601 1269,541 C 1321.1885125184094,533.7982326951399 1380.5942562592047,507.39911634756993 1440,481 L 1440,700 L 0,700 Z"
    );
  }
}

@media screen and (max-width:992px) {
  .wave-container>svg{
    margin-top: 50px !important;
  }
}