body {
  margin: 0;
  font-family: "Montserrat";
}

.home-container {
  width: 100%;
  /* background-color: aliceblue; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -20px;
}

.home-minicontainer {
  flex-direction: row;
  display: flex;
  width: 90%;
}

.home-imagediv {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-miniimagediv {
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-imagediv img {
  height: 430px;
  /* width: 100%; */
  max-width: 80%;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  object-fit: cover;
}

.home-righttext {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.home-headingtag {
  font-size: 5.3vh;
  color: blue;
  margin-top: 30px;
  margin-bottom: 15px;
  text-transform: capitalize;
}

.home-paratag {
  margin-bottom: 30px;
  line-height: 33px;
  text-transform: capitalize;
  /* font-size: 2.3vh; */
}

.home-righttext button {
  text-transform: capitalize;
  padding: 10px 0px;
  background-color: #0d6efd;
  color: white;
  width: 10rem;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border: 0px;
  font-size: 2.5vh;
  text-transform: capitalize;
}

.home-righttext button span{
  margin-left: 5px;
  font-weight: bolder;
}
.home-righttext button:hover {
  cursor: pointer;
  background-color: #2c80ff;
}
@media screen and (max-width: 992px) {
  .home-minicontainer {
    flex-direction: column;
  }
  .home-imagediv {
    width: 100%;
  }
  .home-imagediv img {
    height: auto;
    width: 100%;
    object-fit: contain;
  }
  .home-righttext {
    width: 100%;
  }

  .home-righttext button {
    width: 10rem;
    text-align: center;
    margin-bottom: 20px;
  }
}